# Mesh Bed Settings
[bed_mesh]
zero_reference_position: 90,90 
speed: 200 
horizontal_move_z: 15
mesh_min: 33, 33
mesh_max: 147, 147
probe_count: 20,20
adaptive_margin: 10
mesh_pps: 2,2 # Disable interpolation - mesh is probably dense enough
algorithm: bicubic
fade_start: 0.5
fade_end: 2
split_delta_z: .025
move_check_distance: 5.0
algorithm: bicubic
bicubic_tension: 0.1
#relative_reference_index: 12  # ^^^because were measuring the offset from the nozzle switch to the bed using the center of the bed, the equation to find the location = (probe point count)/2-1
#fade_target:
#   The z position in which fade should converge. When this value is
#   set to a non-zero value it must be within the range of z-values in
#   the mesh. Users that wish to converge to the z homing position
#   should set this to 0. Default is the average z value of the mesh.
#adaptive_margin:
#   An optional margin (in mm) to be added around the bed area used by
#   the defined print objects when generating an adaptive mesh.
#bed_mesh_default:
#   Optionally provide the name of a profile you would like loaded on init.
#   By default, no profile is loaded.
#use_probe_xy_offsets: True
#   If True, apply the `[probe]` XY offsets to the probed positions. The
#   default is True.