[gcode_macro _HOME_X_AXIS]
gcode:
  RESPOND MSG="_HOME_X_AXIS"
  SAVE_GCODE_STATE NAME=home_x_axis
  {% set HOME_CURRENT = 0.7 %}
  {% set RUN_CURRENT = printer.configfile.settings['tmc5160 stepper_x'].run_current | float %}
  # Set current for sensorless homing
  SET_TMC_CURRENT STEPPER=stepper_x CURRENT={ HOME_CURRENT }
  SET_TMC_CURRENT STEPPER=stepper_x1 CURRENT={ HOME_CURRENT }
  # Pause to ensure driver stall flag is clear
  G4 P2000
  # Home
  G28 X
  # Move away
  G92
  G1 X0 F1200
  SET_TMC_CURRENT STEPPER=stepper_x CURRENT={ RUN_CURRENT }
  SET_TMC_CURRENT STEPPER=stepper_x1 CURRENT={ RUN_CURRENT }
  RESTORE_GCODE_STATE NAME=home_x_axis

[gcode_macro _HOME_Y_AXIS]
gcode:
  SAVE_GCODE_STATE NAME=home_y_axis
  {% set HOME_CURRENT = 0.7 %}
  {% set RUN_CURRENT = printer.configfile.settings['tmc5160 stepper_y'].run_current | float %}
  # Set current for sensorless homing
  SET_TMC_CURRENT STEPPER=stepper_y CURRENT={ HOME_CURRENT }
  SET_TMC_CURRENT STEPPER=stepper_y1 CURRENT={ HOME_CURRENT }
  # Pause to ensure driver stall flag is clear
  G4 P2000
  # Home
  G28 Y
  # Move away
  G92
  G1 Y10 F1200
  SET_TMC_CURRENT STEPPER=stepper_y CURRENT={ RUN_CURRENT }
  SET_TMC_CURRENT STEPPER=stepper_y1 CURRENT={ RUN_CURRENT }
  RESTORE_GCODE_STATE NAME=home_y_axis

[homing_override]
axes: xyz
gcode:
 _HOME_X_AXIS
 _HOME_Y_AXIS
 G4 P10000
 G28 Z
 G90
 G1 Z10 F1200
 G1 X90 Y90 F2400


#axes: xyz
#   The axes to override. For example, if this is set to "z" then the
#   override script will only be run when the z axis is homed (eg, via
#   a "G28" or "G28 Z0" command). Note, the override script should
#   still home all axes. The default is "xyz" which causes the
#   override script to be run in place of all G28 commands.
#set_position_x:
#set_position_y:
#set_position_z:
#   If specified, the printer will assume the axis is at the specified
#   position prior to running the above g-code commands. Setting this
#   disables homing checks for that axis. This may be useful if the
#   head must move prior to invoking the normal G28 mechanism for an
#   axis. The default is to not force a position for an axis.
