#reserved for crampon

[lis2dw]
cs_pin: cartographer:PA3
spi_bus: spi1
#spi_speed: 5000000     #   The SPI speed (in hz) to use when communicating with the chip.The default is 5000000.

[resonance_tester]
accel_chip: lis2dw
probe_points:
   90, 90, 20

[input_shaper]
enabled_extruders: extruder
shaper_freq_x: 96.2
shaper_type_x: zv
damping_ratio_x: 0.026
shaper_freq_y: 93.2
shaper_type_y: zv
damping_ratio_y: 0.060



#[resonance_tester]
#accel_chip_x:
#accel_chip_y:           #   Names of the accelerometer chips to use for measurements for each of the axis. Can be useful, for instance, on bed slinger printer,
#   if two separate accelerometers are mounted on the bed (for Y axis) and on the toolhead (for X axis). These parameters have the same
#   format as 'accel_chip' parameter. Only one of 'accel_chips', 'accel_chip',or these two parameters must be provided.
#max_smoothing:         #   Maximum input shaper smoothing to allow for each axis during shaper auto-calibration (with 'SHAPER_CALIBRATE' command). By default no
#   maximum smoothing is specified. Refer to Measuring_Resonances guide for more details on using this feature.
#move_speed: 50         #   The speed (in mm/s) to move the toolhead to and between test points during the calibration. The default is 50.
#min_freq: 5            #   Minimum frequency to test for resonances. The default is 5 Hz.
#max_freq: 133.33       #   Maximum frequency to test for resonances. The default is 133.33 Hz.
#accel_per_hz: 75       #   This parameter is used to determine which acceleration to use to test a specific frequency: accel = accel_per_hz * freq. Higher the
#   value, the higher is the energy of the oscillations. Can be set to a lower than the default value if the resonances get too strong on
#   the printer. However, lower values make measurements of high-frequency resonances less precise. The default value is 75(mm/sec).
#   Set it to 60 as a good baseline when using the sweeping resonance tester.
#hz_per_sec: 1          #   Determines the speed of the test. When testing all frequencies in range [min_freq, max_freq], each second the frequency increases by
#   hz_per_sec. Small values make the test slow, and the large values will decrease the precision of the test. The default value is 1.0(Hz/sec == sec^-2).
#sweeping_accel: 400    #   An acceleration of slow sweeping moves. The default is 400 mm/sec^2.
#sweeping_period: 0     #   A period of slow sweeping moves. Avoid setting it to a too small non-zero value in order to not poison the measurements.
#   To enable it, start by setting it to 1.2 sec which is a good all-round choice. Set it to 0 do disable it. The default is 0.