[delayed_gcode start_pa_test]
gcode:
    {% set vars = printer["gcode_macro RUN_PA_TEST"] %}
    PRINT_START         ; PUT YOUR START GCODE HERE========================================================
    {% set flow_percent = vars.flow_rate|float * 100.0 %}
    {% if flow_percent > 0 %}
        M221 S{flow_percent}
    {% endif %}
    {% set height = printer.configfile.settings.pa_test.height %}
    {% set pavalue = vars.pa_value %}
    ; If pa_value is 0 then we test the full pa range starting from 0
    {% if  vars.pa_value == 0 %}
        {% if vars.testparam == 0 %}
            TUNING_TOWER COMMAND=SET_PRESSURE_ADVANCE PARAMETER=ADVANCE START=0 FACTOR=.001 ; .01 for bowden
        {% elif vars.testparam == 1 %}
            TUNING_TOWER COMMAND=SET_PRESSURE_ADVANCE PARAMETER=OFFSET START=0 FACTOR=.01 ; .02 for bowden
        {% elif vars.testparam == 2 %}
            TUNING_TOWER COMMAND=SET_PRESSURE_ADVANCE PARAMETER=TIME_OFFSET START=0 FACTOR=.0001
        {% endif %}
    {% else %}
        ; make sure that delta and start can not be lower then 0
        {% if (vars.pa_value - vars.pa_range <= 0) and (vars.testparam <= 2) %}
            {% set delta = vars.pa_range %}
            {% set start = 0 %}
        {% else %}
            ; calculate the pa range that we want to test
            {% set delta = (vars.pa_value + vars.pa_range)  - (vars.pa_value - vars.pa_range)  %}
            ; calculate the pa start value
            {% set start = vars.pa_value - vars.pa_range %}
        {% endif %}
        {% if vars.testparam == 0 %}
            TUNING_TOWER COMMAND=SET_PRESSURE_ADVANCE PARAMETER=ADVANCE START={start} FACTOR={delta / height}
        {% elif vars.testparam == 1 %}
            TUNING_TOWER COMMAND=SET_PRESSURE_ADVANCE PARAMETER=OFFSET START={start} FACTOR={delta / height}
        {% elif vars.testparam == 2 %}
            TUNING_TOWER COMMAND=SET_PRESSURE_ADVANCE PARAMETER=TIME_OFFSET START={start} FACTOR={delta / height}
        {% endif %}
    {% endif %}
    ; PRINT_PA_TOWER must be the last command in the start_pa_test script:
    ; it starts a print and then immediately returns without waiting for the print to finish
    PRINT_PA_TOWER {vars.rawparams} FINAL_GCODE_ID=end_pa_test

[delayed_gcode end_pa_test]
gcode:
    END_PRINT
    RESTORE_GCODE_STATE NAME=PA_TEST_STATE

[gcode_macro RUN_PA_TEST]
variable_bed_temp: -1
variable_hotend_temp: -1
variable_pa_value: 0             # Used for further tuning of pa value. If value is not 0 than the tested pa value will only be +/- (determined by the pa_range variable) around of the pa_value variable
variable_pa_range: 0.03          # Only use if pa_value is set to heigher than 0. Used to set the +/- area around pa_value that should be tested
variable_flow_rate: -1
variable_testparam: 0            # 0 = advance, 1 = offset, 2 = time_offset
variable_fan_speed: 0.5
variable_rawparams: ''
gcode:
    # Fail early if the required parameters are not provided
    {% if params.NOZZLE is not defined %}
    {action_raise_error('NOZZLE= parameter must be provided')}
    {% endif %}
    {% if params.TARGET_TEMP is not defined %}
    {action_raise_error('TARGET_TEMP= parameter must be provided')}
    {% endif %}
    SET_GCODE_VARIABLE MACRO=RUN_PA_TEST VARIABLE=bed_temp VALUE={params.BED_TEMP|default(60)}
    SET_GCODE_VARIABLE MACRO=RUN_PA_TEST VARIABLE=hotend_temp VALUE={params.TARGET_TEMP}
    SET_GCODE_VARIABLE MACRO=RUN_PA_TEST VARIABLE=pa_value VALUE={params.PA_VALUE|default(0)}
    SET_GCODE_VARIABLE MACRO=RUN_PA_TEST VARIABLE=pa_range VALUE={params.PA_RANGE|default(0.01)}
    SET_GCODE_VARIABLE MACRO=RUN_PA_TEST VARIABLE=flow_rate VALUE={params.FLOW_RATE|default(-1)}
    SET_GCODE_VARIABLE MACRO=RUN_PA_TEST VARIABLE=testparam VALUE={params.TESTPARAM|default(0)}
    SET_GCODE_VARIABLE MACRO=RUN_PA_TEST VARIABLE=fan_speed VALUE={params.FAN_SPEED|default(0.5)}
    SET_GCODE_VARIABLE MACRO=RUN_PA_TEST VARIABLE=rawparams VALUE="'{rawparams}'"
    SAVE_GCODE_STATE NAME=PA_TEST_STATE
    UPDATE_DELAYED_GCODE ID=start_pa_test DURATION=0.01

[gcode_macro TEST_SPEED]
description: Safe CoreXY Speed Test (Sensorless Friendly)

gcode:
    {% set speed = params.SPEED|default(printer.configfile.settings.printer.max_velocity)|float %}
    {% set accel = params.ACCEL|default(printer.configfile.settings.printer.max_accel)|float %}
    {% set iterations = params.ITERATIONS|default(10)|int %}
    {% set bound = params.BOUND|default(40)|float %}
    {% set z = params.Z|default(20)|float %}
    {% set small = params.SMALL|default(40)|float %}
    {% set cruise = params.MIN_CRUISE_RATIO|default(0.5)|float %}

    {% set xmin = printer.toolhead.axis_minimum.x + bound %}
    {% set ymin = printer.toolhead.axis_minimum.y + bound %}
    {% set xmax = printer.toolhead.axis_maximum.x - bound %}
    {% set ymax = printer.toolhead.axis_maximum.y - bound %}

    {% set xc = (xmin + xmax)/2 %}
    {% set yc = (ymin + ymax)/2 %}

    {% set sx1 = xc - (small/2) %}
    {% set sx2 = xc + (small/2) %}
    {% set sy1 = yc - (small/2) %}
    {% set sy2 = yc + (small/2) %}

    SAVE_GCODE_STATE NAME=TEST_SPEED

    M400
    G4 P500

    G28

    {% if printer.configfile.settings.z_tilt_adjust is defined %}
        {% if not printer.z_tilt_adjust.applied %}
            Z_TILT_ADJUST
            G28 Z
        {% endif %}
    {% endif %}

    # Give homing_override time to restore run current
    M400
    G4 P2000

    # Small preload move to remove rotor relaxation
    G90
    G0 X{xc-5} Y{yc-5} Z{z} F6000
    G0 X{xc} Y{yc} F6000

    M400
    G4 P2000

    RESPOND MSG="Recording START position..."

    GET_POSITION

    {% for i in range(iterations) %}

        ## Outer Square
        G0 X{xmin} Y{ymin} F{speed*60}
        G0 X{xmax} Y{ymin}
        G0 X{xmax} Y{ymax}
        G0 X{xmin} Y{ymax}
        G0 X{xmin} Y{ymin}

        ## Diagonals
        G0 X{xmax} Y{ymax}
        G0 X{xmin} Y{ymin}
        G0 X{xmax} Y{ymin}
        G0 X{xmin} Y{ymax}
        G0 X{xmax} Y{ymax}

        ## Figure 8
        G0 X{xc} Y{ymin}
        G0 X{xmax} Y{yc}
        G0 X{xc} Y{ymax}
        G0 X{xmin} Y{yc}
        G0 X{xc} Y{ymin}

        ## Small Box
        G0 X{sx1} Y{sy1}
        G0 X{sx2} Y{sy1}
        G0 X{sx2} Y{sy2}
        G0 X{sx1} Y{sy2}
        G0 X{sx1} Y{sy1}

        ## Small Diagonals
        G0 X{sx2} Y{sy2}
        G0 X{sx1} Y{sy1}
        G0 X{sx2} Y{sy1}
        G0 X{sx1} Y{sy2}
        G0 X{sx2} Y{sy2}

    {% endfor %}

    M400

    G4 P500

    G28

    # Wait until homing_override restores run current
    M400
    G4 P2000

    G90
    G0 X{xc-5} Y{yc-5} Z{z} F6000
    G0 X{xc} Y{yc} F6000

    M400
    G4 P2000

    RESPOND MSG="Recording END position..."

    GET_POSITION


    RESTORE_GCODE_STATE NAME=TEST_SPEED

    RESPOND MSG="TEST_SPEED completed successfully."
    