
[board_pins]
aliases:
    # stepper drivers
    MOT0_EN=PF14, MOT0_STEP=PF13, MOT0_DIR=PF12, MOT0_CS=PC4,
    MOT1_EN=PF15, MOT1_STEP=PG0,  MOT1_DIR=PG1,  MOT1_CS=PD11,
    MOT2_EN=PG5,  MOT2_STEP=PF11, MOT2_DIR=PG3,  MOT2_CS=PC6,
    MOT3_EN=PA0,  MOT3_STEP=PG4,  MOT3_DIR=PC1,  MOT3_CS=PC7,
    MOT4_EN=PG2,  MOT4_STEP=PF9,  MOT4_DIR=PF10, MOT4_CS=PF2,
    MOT5_EN=PF1,  MOT5_STEP=PC13, MOT5_DIR=PF0,  MOT5_CS=PE4,
    MOT6_EN=PD4,  MOT6_STEP=PE2,  MOT6_DIR=PE3,  MOT6_CS=PE1,
    MOT7_EN=PE0,  MOT7_STEP=PE6,  MOT7_DIR=PA14, MOT7_CS=PD3,

    # heaters
    BED_OUT=PA1,
    HE0=PA2, HE1=PA3, HE2=PB10, HE3=PB11,

    # thermisors
    TB=PF3, T0=PF4, T1=PF5, T2=PF6, T3=PF7,
    PT1000=PF8,

    # fans
    FAN0=PA8, FAN1=PE5, FAN2=PD12, FAN3=PD13, FAN4=PD14, FAN5=PD15,

    # end stops
    ESTOP0=PG6,  ESTOP1=PG9,  ESTOP2=PG10, ESTOP3=PG11,
    ESTOP4=PG12, ESTOP5=PG13, ESTOP6=PG14, ESTOP7=PG15,

    # spi3
    SPI3_2=<3V3>, SPI3_MOSI=PB5, SPI3_CS=PA15, SPI3_8=<GND>, SPI3_10=<5V>,
    SPI3_1=<GND>, SPI3_MISO=PB4, SPI3_SCK=PB3, SPI3_7=<GND>, SPI3_9=<5V>,


[mcu] 
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_160047001750534E4E313420-if00
restart_method: command

[mcu cartographer]
serial: /dev/serial/by-id/usb-Cartographer_614e_0A0012000543303856303720-if00
restart_method: command # Not needed for probes using CAN. 

[mcu rpi]
serial: /tmp/klipper_host_mcu

[temperature_sensor pi4+]
sensor_type: temperature_host
min_temp: 10
max_temp: 100
gcode_id: P

# Octopus Pro temperature sensor
[temperature_sensor octopus_pro]
sensor_type: temperature_mcu

[temperature_sensor Cartographer]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 5
max_temp: 105

[temperature_sensor chamber]
sensor_type: NTC 100K MGB18-104F39050L32  #Generic 3950
sensor_pin: PF5
min_temp: 0
max_temp: 100
gcode_id: C

[printer]
kinematics: cartesian
max_velocity: 1200
max_accel: 25000
minimum_cruise_ratio: 0 
max_z_velocity: 15 
max_z_accel: 100
square_corner_velocity: 15.0
#max_x_accel: 12000
#max_y_accel: 9000
#scale_xy_accel: true

[gcode_arcs]
resolution: 0.1

[exclude_object]

[pause_resume]

[respond]

[force_move]
enable_force_move: true

[idle_timeout]
timeout: 0
