
# |------------------------|
# |        BACKPACK        |
# |------------------------|-----|
# | Y  |    | Z1 |    | X1 |  F  |
# |-----    ------    -----|  R  |
# |                        |  O  |
# | ------          ------ |  N  |
# | | Z  |          | Z2 | |  T  |
# | ------          ------ |     |
# |-----              -----|  D  |
# | X  |              | Y1 |  R  |
# |------------------------|-----|

## [X  in slot 5]     - X  Motor
## [X1 in slot 6]     - X1 Motor
## [Y  in slot 7]     - Y  Motor
## [Y1 in slot 8]     - Y1 Motor

[stepper_x]
#5
step_pin: PE6
dir_pin: PA14
enable_pin: !PE0
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 400
endstop_pin: tmc5160_stepper_x:virtual_endstop
position_min: -10
position_endstop: 180
position_max: 180
homing_speed: 50.0
homing_retract_dist: 0.0
homing_positive_dir: True

[stepper_x1]
#6
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 400
endstop_pin: tmc5160_stepper_x1:virtual_endstop
#homing_accel:
#   Maximum accel (in mm/s) of the stepper when homing. The default is to use the max accel configured in the [printer]'s object.
#homing_retract_speed:
#   Speed to use on the retract move after homing in case this should be different from the homing speed, which is the default for this.

[stepper_y]
#7
step_pin: PE2
dir_pin: !PE3
enable_pin: !PD4
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 400
endstop_pin: tmc5160_stepper_y:virtual_endstop
position_min: -5
position_endstop: -5
position_max: 180
homing_speed: 50.0
homing_retract_dist: 0.0
homing_positive_dir: false

[stepper_y1]
#8
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 400
endstop_pin: tmc5160_stepper_y1:virtual_endstop


