
# |------------------------|
# |        BACKPACK        |
# |------------------------|-----|
# | Y  |    | Z1 |    | X1 |  F  |
# |-----    ------    -----|  R  |
# |                        |  O  |
# | ------          ------ |  N  |
# | | Z  |          | Z2 | |  T  |
# | ------          ------ |     |
# |-----              -----|  D  |
# | X  |              | Y1 |  R  |
# |------------------------|-----|

## [Z  in slot 7]     - Z  Motor
## [Z1 in slot 6]     - Z1 Motor
## [Z2 in slot 5]     - Z2  Motor

[stepper_z]
#E3
step_pin: PG4
dir_pin: !PC1
enable_pin: !PA0

rotation_distance: 40
gear_ratio: 5:1
microsteps: 32
full_steps_per_rotation: 200

endstop_pin: probe:z_virtual_endstop
position_max: 156
position_min: -6
homing_speed: 15.0
homing_retract_dist: 0
homing_positive_dir: false
 
[stepper_z1]
#E2
step_pin: PF11
dir_pin: !PG3
enable_pin: !PG5

rotation_distance: 40
gear_ratio: 5:1
microsteps: 32
full_steps_per_rotation: 200

[stepper_z2]
#E1
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15

rotation_distance: 40
gear_ratio: 5:1
microsteps: 32
full_steps_per_rotation: 200

#[endstop_phase stepper_z]
#endstop_accuracy:
#   Sets the expected accuracy (in mm) of the endstop. This represents the maximum error distance the endstop may trigger
#   (eg, if an endstop may occasionally trigger 100um early or up to 100um late then set this to 0.200 for 200um).
#   The default is 4*rotation_distance/full_steps_per_rotation.
#trigger_phase:
#   This specifies the phase of the stepper motor driver to expect when hitting the endstop. It is composed of two numbers separated
#   by a forward slash character - the phase and the total number of phases (eg, "7/64"). Only set this value if one is sure the
#   stepper motor driver is reset every time the mcu is reset. If this is not set, then the stepper phase will be detected on the first
#   home and that phase will be used on all subsequent homes.
#endstop_align_zero: False
#   If true then the position_endstop of the axis will effectively be modified so that the zero position for the axis occurs at a full
#   step on the stepper motor. (If used on the Z axis and the print layer height is a multiple of a full step distance then every
#   layer will occur on a full step.) The default is False.